# Environment variables
.env

# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# History and score files
highscores.txt
__pycache__/asteroid.cpython-313.pyc
__pycache__/AsteroidsRound.cpython-313.pyc
__pycache__/button.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/CoOp.cpython-313.pyc
__pycache__/explosion.cpython-313.pyc
__pycache__/instructions.cpython-313.pyc
__pycache__/leaderboard.cpython-313.pyc
__pycache__/player.cpython-313.pyc
__pycache__/PlayerCoOp.cpython-313.pyc
__pycache__/powerups.cpython-313.pyc
__pycache__/powerupsCoop.cpython-313.pyc
__pycache__/ship.cpython-313.pyc
__pycache__/shipSelectScreen.cpython-313.pyc
__pycache__/asteroid.cpython-313.pyc
__pycache__/AsteroidsRound.cpython-313.pyc
__pycache__/button.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/CoOp.cpython-313.pyc
__pycache__/explosion.cpython-313.pyc
__pycache__/instructions.cpython-313.pyc
__pycache__/leaderboard.cpython-313.pyc
__pycache__/player.cpython-313.pyc
__pycache__/PlayerCoOp.cpython-313.pyc
__pycache__/powerups.cpython-313.pyc
__pycache__/powerupsCoop.cpython-313.pyc
__pycache__/ship.cpython-313.pyc
__pycache__/shipSelectScreen.cpython-313.pyc
