# Environment variables
.env

# Python virtual environment
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# History and score files
highscores.txt